<div class="container" style="max-width: 600px; margin: 0 auto; padding: 2rem;">
  <h1 style="font-size: 2rem; font-weight: 700; margin-bottom: 2rem;">Add New Address</h1>
  <%= render 'form', address: @address %>
</div>
